
@{
    ViewBag.Title = "Accomplishments";
}

<h2>Accomplishments:</h2>
<ul>
    <li>Academic Distinction Scholarship, 2007-2011, UT Dallas</li>
    <li>Device Programming at the Plasma Computing Group</li>
    <li>fixing devices at Circuitco</li>
</ul>
