
@{
    ViewBag.Title = "Chart";
}

<!-- Main -->
<div id="main">
    <div class="inner">
        <h2>Chart/Graphing</h2>

        <!-- Image -->
        <section>
            <p><span class="image left"><img src="../../images/chart.png" alt="" /></span>This is a program I made in Ruby on Rails. It charts data using a post request to the page. It can be found here: http://lit-wildwood-7691.herokuapp.com</p>
        </section>

    </div>
</div>
