@{
    ViewBag.Title = "Home Page";
}

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <h1>Scott's Portfolio</h1>

            <!-- Image -->
            <section>

                <p><span class="image left"><img src="../../images/Me.jpg" alt="" /></span>I am a combination software and electrical engineer. I have worked on microcontrollers and SOC's, such as Arduino and Raspberry Pi. I have developed applications for Android, including an OBDII reader. In my spare time, I have made things such as a pong game involving a pic microcontroller that outputs NTSC. I have also played with Radios, I made an AM radio featured in this website.</p>
            </section>

        </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <section>
                <h2>Get in touch</h2>
                <form method="post" action="MAILTO:smc19891@yahoo.com" enctype="text/plain">
                    <div class="field half first">
                        <input type="text" name="name" id="name" placeholder="Name" />
                    </div>
                    <div class="field half">
                        <input type="email" name="email" id="email" placeholder="Email" />
                    </div>
                    <div class="field">
                        <textarea name="message" id="message" placeholder="Message"></textarea>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Send" class="special" /></li>
                    </ul>
                </form>
            </section>
            <section>
                <h2>Follow</h2>
                <ul class="icons">
                    <li><a href="https://www.facebook.com/scott.carlson.1217" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
                </ul>
            </section>
        </div>
    </footer>
