
@{
    ViewBag.Title = "Pong Game";
}

<!-- Main -->
<div id="main">
    <div class="inner">
        <h2>Pong</h2>

        <!-- Image -->
        <section>
            <p><span class="image left"><img src="../../images/pong.jpg" alt="" /></span>This is a game of pong that I made. It uses a microcontroller, and outputs monochrome NTSC video. I made a PCB board for it, and put it in a box from Fry's Electronics.  </p> 
            </section>

    </div>
</div>

