
@{
    ViewBag.Title = "Resume";
}


    <!-- main section-->
<h2>Resume: </h2>
    <a href="../../resume4_4_16.pdf" download>download resume</a>

<div id="main">
    <div class="inner">
        <section>
<embed width="640" height="480" src="../../resume4_4_16.pdf" />
</section>
</div>
    </div>

